<a href="https://colab.research.google.com/github/DeathNOTbook/my-deposit/blob/master/HEART_DISEASE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import seaborn as sns
import pandas as pd
import numpy as np

In [0]:
data=pd.read_csv('https://raw.githubusercontent.com/DeathNOTbook/my-deposit/master/heart.csv')

In [0]:
data.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [0]:
values=data.values

In [0]:
values

array([[63.,  1.,  3., ...,  0.,  1.,  1.],
       [37.,  1.,  2., ...,  0.,  2.,  1.],
       [41.,  0.,  1., ...,  0.,  2.,  1.],
       ...,
       [68.,  1.,  0., ...,  2.,  3.,  0.],
       [57.,  1.,  0., ...,  1.,  3.,  0.],
       [57.,  0.,  1., ...,  1.,  2.,  0.]])

In [0]:
def dict_1(x):
  dic={}
  for i in x:
    if i[13]==1:
      if i[0] in dic:
        dic[i[0]]+=1
      else:
        dic[i[0]]=1
  return dic
def dict_0(x):
    dic={}
    for i in x:
      if i[13]==0:
        if i[0] in dic:
          dic[i[0]]+=1
        else:
          dic[i[0]]=1
    return dic

In [0]:
def returnSum(dict): 
      
     sum = 0
     for i in dict.values(): 
           sum = sum + i 
       
     return sum

In [0]:
def prob(p,y):
  s=returnSum(y)
  prob=y[p]/s
  return prob

In [0]:
c=data['target']
cval=c.values
cval=cval.tolist()
prob_heart=cval.count(1)/len(cval)
prob_heart_0=1-prob_heart

In [0]:
# given that the person has the heart disease what is the probability that he is of the age 45
val_1=dict_1(values)
val_0=dict_0(values)
ans=(prob(45,val_1)*prob_heart)/(prob(45,val_0)*prob_heart_0+prob(45,val_1)*prob_heart)

In [0]:
ans

0.75